DIRECTOR_IMAGE=barnaby/director:1.1.1
DIRECTOR_PORT=8080
DIRECTOR_DATA_DIR=./data
DIRECTOR_WEBUI_URL=https://director.klsll.com
DIRECTOR_ICON=https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/png/code.png
TZ=America/Phoenix
