model_list:
  - model_name: claude-sonnet-4-6
    litellm_params:
      model: anthropic/claude-sonnet-4-6
      api_key: "{{ litellm_anthropic_api_key }}"
  - model_name: gpt-4o
    litellm_params:
      model: openai/gpt-4o
      api_key: "{{ litellm_openai_api_key }}"
  - model_name: ollama/llama3.1
    litellm_params:
      model: ollama/llama3.1:8b
      api_base: http://192.168.20.154:11434
  - model_name: qwen/qwen3.6-35b-uncensored
    litellm_params:
      model: openai/qwen/qwen3.6-35b-uncensored
      api_base: http://192.168.20.150:8010/v1
      api_key: "llama.cpp"
  - model_name: qwen/qwen3-4b-reasoning
    litellm_params:
      model: openai/qwen/qwen3-4b-reasoning
      api_base: http://192.168.20.150:8010/v1
      api_key: "llama.cpp"

general_settings:
  master_key: "{{ litellm_master_key }}"
