AI_PROVIDER={{ paperless_ai_provider }}
OPENAI_API_URL={{ paperless_ai_lmstudio_url }}
OPENAI_API_KEY={{ ironclaw_lmstudio_api_key }}
AI_MODEL={{ paperless_ai_model }}

PAPERLESS_API_URL={{ paperless_ai_paperless_url }}/api
PAPERLESS_USERNAME={{ paperless_ai_paperless_username }}
PAPERLESS_PASSWORD={{ paperless_ai_api_token }}

USE_PROMPT_TAGS=1
SCAN_INTERVAL=30
