services:
  hermes:
    image: {{ hermes_image }}
    container_name: {{ hermes_container_name }}
    restart: unless-stopped
    user: "0"
    entrypoint: ["/bin/sh", "-c", "chown -R ${HERMES_UID}:${HERMES_GID} /home/node/.hermes && exec /opt/hermes/docker/entrypoint.sh gateway run"]
    command: []
    network_mode: host
    stdin_open: true
    tty: true
    volumes:
      - {{ hermes_state_dir }}:/home/node/.hermes
    env_file:
      - {{ hermes_env_file }}
    environment:
      - HERMES_HOME=/home/node/.hermes
      - HERMES_UID={{ hermes_uid }}
      - HERMES_GID={{ hermes_gid }}
