NPM_NETWORK_NAME=br0
NPM_IP=192.168.20.50
NPM_APPDATA_ROOT=/mnt/user/appdata/npm
NPM_TIMEZONE=America/Phoenix
NPM_UI_PORT=81
NPM_ICON=https://raw.githubusercontent.com/linuxserver/docker-templates/master/linuxserver.io/img/nginxproxymanager-logo.png
NPM_WEBUI_URL=http://192.168.20.50:81
NPM_DNS_PRIMARY=1.1.1.1
NPM_DNS_SECONDARY=1.0.0.1
