ADGUARD_URL=http://127.0.0.1:{{ adguard_http_port }}
ADGUARD_USER={{ adguard_admin_user }}
ADGUARD_PASS={{ adguard_admin_password }}
BEDTIME_START={{ adguard_bedtime_start }}
BEDTIME_END={{ adguard_bedtime_end }}
BEDTIME_TZ={{ adguard_bedtime_timezone }}
BEDTIME_CTAG={{ adguard_bedtime_ctag }}
