ADGUARD_URL=http://127.0.0.1:{{ adguard_http_port }}
ADGUARD_USER={{ adguard_admin_user }}
ADGUARD_PASS={{ adguard_admin_password }}
ROBLOX_CAP_TZ={{ adguard_roblox_cap_timezone }}
ROBLOX_CAP_LOG_PATH={{ adguard_roblox_cap_log_path }}
ROBLOX_CAP_BUCKET_MIN={{ adguard_roblox_cap_bucket_min }}
ROBLOX_CAP_BUCKET_LIMIT={{ adguard_roblox_cap_bucket_limit }}
ROBLOX_CAP_SERVICE_ID={{ adguard_roblox_cap_service_id }}
