TZ=America/Phoenix
HOMEPAGE_PORT=3002
HOMEPAGE_PUID=1000
HOMEPAGE_PGID=1000
HOMEPAGE_LOG_LEVEL=info
HOMEPAGE_WEBUI_URL=https://home.klsll.com
HOMEPAGE_ICON=https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/png/homepage.png
